section.container.layout#default-layout
  .row.text-center
    .twelve.columns
      .row
        .one-half.column
            input(type='text',placeholder='1920',id='w1',name='w1')
            input(type='text',placeholder='1080',id='w1',name='h1')
        .one-half.column
            input(type='text',id='w2',name='w2')
            input(type='text',id='h2',name='h2')