section.container.layout#default-layout
  .row#calculator-wrapper
    .twelve.columns
      h2 arca
      span.fa.fa-question#info-button
      .row
        .four.columns.text-center
          input(type='text',name='w1',class='u-full-width',id='w1',placeholder='1920')
          input(type='text',name='h1',class='u-full-width',id='h1',placeholder='1080')
        .four.columns.text-center
          span.fa.fa-equal#equal-sign
            | =
        .four.columns.text-center
          input(type='text',name='w2',class='u-full-width',id='w2')
          input(type='text',name='h2',class='u-full-width',id='h2')
      .row
        .twelve.columns
          #aspect-ratio-wrapper
            | Current aspect ratio #[span#aspect-ratio-suggestion]
  .row#info-wrapper
    .twelve.columns
      h2 arca
      h5 a simple aspect ratio calculator
      p Use the form to calculate the missing value for a particular aspect ratio.
  footer.row.text-center#copy
    .twelve.columns
      | &lt;code&gt; by Stefan Cosma