section.container.layout#default-layout
  .row#calculator-wrapper
    .twelve.columns
      h2 arca
      span.fa.fa-question#info-button
      .row
        .one-half.column.text-center
          input(type='text',placeholder='1920',id='w1',name='w1')
          input(type='text',placeholder='1080',id='w1',name='h1')
        .one-half.column.text-center
          input(type='text',id='w2',name='w2')
          input(type='text',id='h2',name='h2')
      .row
        .twelve.columns
          #aspect-ratio-wrapper
            | Current aspect ratio #[span#aspect-ratio-suggestion]
  .row#info-wrapper
    .twelve.columns
      h2 arca
      h5 a simple aspect ratio calculator
      p Use the form to calculate the missing value for a particular aspect ratio.
  footer.row.text-center#copy
    .twelve.columns
      | &lt;code&gt; by Stefan Cosma