section.container.layout#default-layout
  .row#calculator-wrapper
    .twelve.columns
      .row.text-center#aspect-ratio-buttons-wrapper
        mixin buttons(...items)
          each item in items
            .three.columns.aspect-ratio-button
              button.u-full-width= item
        +buttons('16:9', '21:9', '4:3', '2:1')
      .row
        .one-half.column#original-values
          .input-wrapper
            label(for='w1') w1
            input(type='text',name='w1',class='u-full-width',id='w1',placeholder='1920')
          .input-wrapper
            label(for='h1') h1
            input(type='text',name='h1',class='u-full-width',id='h1',placeholder='1080')
        .one-half.column#new-values
          .input-wrapper
            label(for='w2') w2
            input(type='text',name='w2',class='u-full-width',id='w2')
          .input-wrapper
            label(for='h2') h2
            input(type='text',name='h2',class='u-full-width',id='h2')
      .row
        .twelve.columns
          #aspect-ratio-wrapper
            | Current aspect ratio: #[strong#aspect-ratio-suggestion]
  .row#info-wrapper
    .twelve.columns
      h2 arca
        span.subtitle a simple aspect ratio calculator
      p You can use this calculator to find the missing value for a particular aspect ratio. The formula behind it is:
      p
        em (original height / original width) x new width = new height
  footer.row.text-center#copy
    .twelve.columns
      .row
        .twelve.columns
          span.fa.fa-ellipsis-h#info-button
      | &lt;code&gt; by Stefan Cosma