section.container.layout#default-layout
  .row.text-center
    .seven.columns
      h2 arca
      <label for="exampleEmailInput">width</label>
      <input class="u-full-width" type="text" placeholder="test@mailbox.com" id="exampleEmailInput">
      <label for="exampleEmailInput">height</label>
      <input class="u-full-width" type="text" placeholder="test@mailbox.com" id="exampleEmailInput">
      <label for="exampleEmailInput">width</label>
      <input class="u-full-width" type="text" placeholder="test@mailbox.com" id="exampleEmailInput">
      <label for="exampleEmailInput">height</label>
      <input class="u-full-width" type="text" placeholder="test@mailbox.com" id="exampleEmailInput">
      