//
// Global
// --------------------------------------------------
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $color-0;
    font-family: $font-0;
    font-weight: 200;
    color: $color-2;
}

::selection { background: $color-3; }

a {
    text-decoration: none;
    color: $color-2;
    @extend %transition;

    &:hover,
    &:focus {
        color: $color-3;
    }
}

h2 {
    font-weight: lighter;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.subtitle {
    font-size: 55%;
    display: block;
}