//
// Main colors
// --------------------------------------------------

$color-0: #2a2c2b;
$color-1: #dc3522;
$color-2: #d9cb9e;
$color-3: #1e1e20;

//
// Main fonts
// --------------------------------------------------
$font-0: 'Lato', sans-serif;